body {
  background: LightCoral;
}

header {
  background: #111;
  color: #A80;
  padding: 3px;
  border-bottom:2px solid #566963;
}

.debug-border {
  border-style: solid;
  border-width: 1px;
  border-color: green;
}

img.logo {
border-style: solid;
border-width: 2px;
border-color: green;
padding: 0;
margin: 0;
}

div span {
  color: #aaa;
}

footer {
  background: #111;
  color: white;
  border-top:2px solid #566963;
}
}
.footer-left {
}
.footer-right {
}

footer div.debug-window {
  //border:1px solid #566963;
}
footer div pre.debug-window {
  padding: 1px;
  background: #444;
}

main {
  background: yellow;
}

nav {
  background: #111;
  color: #8A0;
}

article {
  background: Black;
  //color: hsl(120, 100%, 50%);
  color: green;
}

aside {
  background: #111;
  color: #A80;
}

img.avatar {
  filter: sepia(1) blur(4px);
  -webkit-filter: sepia(1) blur(2px);
  -moz-filter: sepia(1) blur(2px);
  -ms-filter: sepia(1) blur(2px);
  -o-filter: sepia(´1) blur(2px);
}
img.avatar:hover {
  filter: sepia(0) blur(0px);
  -webkit-filter: sepia(0) blur(0px);
  -moz-filter: sepia(0) blur(0px);
  -ms-filter: sepia(0) blur(0px);
  -o-filter: sepia(0) blur(0px);
}

blockquote {
  //font: 14px/22px normal helvetica, sans-serif;
  font-style:italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  padding-right: 10px;
  padding: 8px;
  border-right: 3px solid #666;
  //color:hsl(120,65%,50%);
  //opacity: 0.99;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
}

code {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  padding-right: 10px;
  padding: 8px;
  border-right: 3px solid #666;
  filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  -o-filter: grayscale(40%);
}
/* unvisited link */
a:link {
    color: lightgreen;
    text-decoration: none;
}
a:visited {
    color: darkgreen;
}
a:hover {
    color: yellow;
}
