body {
  background: LightCoral;
}

.flexwrapper {
  background: pink;
}

header {
  background: #444;
  color: #A80;
}

footer {
  background: Gray;
  color: white;
}

.footer-left {
  background: Pink;
  color: Black;
}

.footer-right {
  background: Brown;
  color: Black;
}

main {
  background: yellow;
}

nav {
  background: #111;
  color: #8A0;
}

article {
  background: Black;
  color: Green;
}

aside {
  background: #111;
  color: #8A0;
}